Data de confianza en las instituciones - Quedarme con las 10 primeras columnas y con las que tengan el código P1$01 hasta P1$13

In [1]:
import pandas as pd

confianza_2022 = pd.read_csv('C:/Users/arica/Documents/GitHub/Qlab_Repositorio/Introducción a Machine Learning/Trabajo Final/Data/784-Modulo85/Enaho01B-2022-1.csv', encoding='ISO-8859-1')

data_2022

C:\Users\arica\AppData\Local\Temp\ipykernel_19952\4238889215.py:3: DtypeWarning: Columns (324,325) have mixed types. Specify dtype option on import or set low_memory=False.
  data_2022 = pd.read_csv('C:/Users/arica/Documents/GitHub/Qlab_Repositorio/Introducción a Machine Learning/Trabajo Final/Data/784-Modulo85/Enaho01B-2022-1.csv', encoding='ISO-8859-1')

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,CODPERSO,CODINFOR,UBIGEO,DOMINIO,ESTRATO,...,P205_01,P206_01,P207_01,P208_01,P209_01,P301_01,TICUEST01B,FAMIEGOB07,NCONGLOME,SUB_CONGLOME
0,2022,1,5030,8,11,1,1,10201,7,4,...,2,,1,85,2,4,2,225.854958862138,6618,0
1,2022,1,5030,17,11,2,2,10201,7,4,...,2,,1,55,5,8,2,183.319431090435,6618,0
2,2022,1,5030,33,11,2,2,10201,7,4,...,2,,2,70,3,8,2,300.817810930778,6618,0
3,2022,1,5030,50,11,1,1,10201,7,4,...,2,,1,71,2,4,2,300.817810930778,6618,0
4,2022,1,5030,59,11,7,7,10201,7,4,...,2,,2,40,5,8,2,735.139798827454,6618,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34208,2022,12,20537,144,11,1,1,210106,6,7,...,2,,2,72,3,1,2,362.127675350927,42033,0
34209,2022,12,20537,232,11,1,1,210106,6,7,...,2,,2,57,2,6,2,626.82056746568,42033,0
34210,2022,12,20537,233,11,1,1,210106,6,7,...,2,,2,49,3,3,2,323.901260182163,42033,0
34211,2022,12,20537,234,11,2,2,210106,6,7,...,2,,1,46,2,6,2,647.802520364326,42033,0
34212,2022,12,20537,235,11,2,2,210106,6,7,...,2,,2,68,2,3,2,740.547417109129,42033,0

In [ ]:
Data de condición Socioeconómica de los peruanos

In [5]:
socioeconomic_2022 = pd.read_csv('C:/Users/arica/Documents/GitHub/Qlab_Repositorio/Introducción a Machine Learning/Trabajo Final/Data/784-Modulo01/Enaho01-2022-100.csv', encoding='ISO-8859-1')

socioeconomic_2022

,AÑO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,PERIODO,TIPENC,...,NBI4,NBI5,FACTOR07,NCONGLOME,SUB_CONGLOME,CODCCPP,NOMCCPP,LONGITUD,LATITUD,ALTITUD
0,2022,2,5007,3,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
1,2022,2,5007,12,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
2,2022,2,5007,22,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
3,2022,2,5007,31,11,10101,4,4,1,3,...,,,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
4,2022,2,5007,50,11,10101,4,4,1,3,...,0,0,45.282372,7070,0,1,CIUDAD CHACHAPOYAS,-77.873924,-6.229049,2338.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44117,2022,4,21001,32,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44118,2022,4,21001,33,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44119,2022,4,21001,34,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44120,2022,4,21001,35,11,210903,6,8,4,5,...,,,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0
44121,2022,4,21001,36,11,210903,6,8,4,5,...,0,0,321.161194,40612,0,18,MULLUCHINI,-69.361732,-15.322027,3887.0